.flash-messages {
  width: 100%;
  margin-top: 5px;
  top: 0;
  z-index: 1000;
  text-align: center;
}



.flash-message {
  color: #404040;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid gray;
}

.red {
  color: red;
}
