

.RichTextEditor__root___2QXK- {
	border: 0px;	
	border-radius: 0px;
	font-family: inherit;
	font-size: 100%;
}

.RichTextEditor__editor___1QqIU {
	font-size: 100%;
}

.RichTextEditor__editor___1QqIU .public-DraftEditor-content, .RichTextEditor__editor___1QqIU .public-DraftEditorPlaceholder-root {
	padding: 15px;
}